  <div class="blog-card">

    <h2 class="blog-card__title">
      <%= link_to blog.title, blog %></h2>

    <p class="blog-card__body">
      <%= markdown (truncate_helper blog.body, blog_path(blog), "blog-card__link") %>
    </p>

    <p class="blog-card__date">Published
      <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago.</p>

    <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
  </div>


