@mixin hover-underline {
  &:after {
    content: "";
    display: block;
    opacity: 0;
    border-bottom: 1px solid;
    transition: opacity 350ms ease-in;
  }

  &:hover::after {
    opacity: 1;
  }

  &--active::after {
    opacity: 1;
  }
}

