<div class="comment">
  <div class="comment-card">
    <img class="comment__author-img"></img>
    <p class="comment__author"></p>
    <p class="comment__content"><%= comment.content %></p>
  </div>
</div>
