/* about page */

.about {
  grid-column: 2 / span 1;

  &__title {
    font-weight: 200;
    @include sans-serif-font;

    &::after {
      border-bottom: 1px solid $white-70;
      content: " ";
      display: block;
      margin: 5rem auto 0 auto;
      width: 100px;
    }
    + .button {
      margin: 6rem 0 0 0;
    }
  }

  &__subtitle {
    margin: 1rem 0 0 0;
    + .button {
      margin: 6rem 0 0 0;
    }
  }
}

.skills {
  grid-column: 3 / span 1;

  @include respond(tab-port) {
    display: none;
  }
}

/* home page */

.home {

  &__title {
    font-weight: 200;
    @include sans-serif-font;

    &::after {
      border-bottom: 1px solid $white-70;
      content: " ";
      display: block;
      margin: 5rem auto 5rem auto;
      width: 100px;
    }
  }

  &__logo {
    margin: 0 0 4rem 0;
    opacity: .7;
  }
}

/* contact page */

.contact {

  &__title {
    font-weight: 200;
    @include sans-serif-font;

    &::after {
      border-bottom: 1px solid $white-70;
      content: " ";
      display: block;
      margin: 5rem auto 5rem auto;
      width: 100px;
    }
  }

  &__subtitle {
    margin: 2rem 0 0 0;
    + .button {
      margin: 6rem 0 0 0;
    }
  }
}
