.blogs-container {
  grid-column: 2 / span 1;
}

.blog-card {
  box-sizing: border-box;
  padding: 5rem 0;

  &__title {
    @include serif-font;
    font-weight: bold;
    opacity: 0.8;
    margin: 1.2rem 0 0 0;
  }

  &__body {
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
  }

  &__date {
    font-size: 1.4rem;
    margin: 1.2rem 0 0 0;
    font-style: italic;
    opacity: 0.8;
  }

  &__admin-links {
    margin: 1.4rem 0 0 0;
  }

  &__link {
    font-size: 1.2rem;
    margin: .3rem .5rem 0 0;
  }

  &__link + &__link {
    margin-left: .5rem;
  }

  @include card-button;

  &__add-new {
    display: none;
    height: 45rem;
    width: 100%;
    margin: 1.5rem 0;
    opacity: 0.5;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.12);
    color: white;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}
