.blog {
  grid-column: 1 / 2;
  background-color: white;
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto-fill;
  grid-row-gap: 4rem;
  padding: 6rem 0;

  &-header {
    font-weight: 200;
    text-align: center;

    &__title {
      @incldue secondary-font;
      font-size: 3rem;
      opacity: 0.8;
      line-height: 3.2rem;
      max-width: 600px;
      width: 90%;
      margin: 0 auto;
    }

    &__topic {
      padding-top: 4rem;
      color: $brand-color;
    }

    &__date {
      padding-top: .5rem;
      font-size: 1.4rem;
      opacity: 0.8;
      font-style: italic;
    }

    &::after {
      border-bottom: 1px solid $black-20;
      content: " ";
      display: block;
      margin: 3rem auto 0;
      max-width: 600px;
      width: 80%;
    }
  }

  &__body {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid $black-20;
    padding-bottom: 4rem;

    @include markdown-styles;
  }

  &__links {
    text-align: center;
    font-size: 1.4rem;
  }

  &__link {
    margin: 0 .8rem 0;
    display: inline-block;
  }

  &__comments-container {
    width: 90%;
    max-width: 600px;
    margin: 2rem auto 3rem;

    .form {
      margin-bottom: 4rem;
    }
  }

  &__comments-header {
    @include secondary-font;
    text-align: center;
    font-size: 2rem;
  }
}

