.blog {
  background-color: white;
  border-radius: 3px;
  display: grid;
  grid-row-gap: 4rem;
  grid-column: 2 / span 1;

  &-header {

    &__title {

    }

    &__topic {
      padding-top: 4rem;
      color: $brand-color;
    }

    &__date {
      padding-top: .5rem;
      font-size: 1.4rem;
      opacity: 0.8;
      font-style: italic;
    }
  }

  &__body {
    margin: 0 auto;
    border-bottom: 1px solid $black-20;
    padding-bottom: 4rem;

    @include markdown-styles;
  }

  &__links {
    text-align: center;
    font-size: 1.4rem;
  }

  &__link {
    display: inline-block;
  }

  &__icon {
    opacity: 0.7;
    display: inline-block;
    margin: 1.5rem 0 0;

    &:hover {
      color: $brand-color;
    }

    &:not(:first-child)::before {
      content: '|';
      margin: 0 1rem;
    }
  }

  &__comments-container {
    margin: 2rem auto 3rem;
    width: 100%;

    .form {
      margin-bottom: 4rem;
    }
  }

  &__comments-header {
    @include sans-serif-font;
    text-align: center;
    font-size: 2rem;
  }
}

