.portfolios-container {
  margin: 0 0 3rem 0;
  display: grid;
  grid-template-columns: 32rem 32rem 32rem;
  grid-gap: 3rem 1rem;
}

.portfolio-card {
  display: grid;
  box-shadow: 1px 1px 6px $black-10;
  grid-template-rows: 27rem 2.2rem 2rem;
  padding: 1rem;

  &__thumb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--crop {
      height: 26rem;
      overflow: hidden;
    }
  }

  &__date {
    font-size: 1.2rem;
    opacity: .7;
  }

  &:nth-of-type(4) {
    grid-column: 1 / 3;
  }

  &:nth-of-type(9) {
    grid-column: 1 / 4;
  }

  @include card-button;

    &__add-new {
      opacity: 0.4;
      width: 32rem;
      height: 26rem;
    }
}
