.portfolios-container {
  margin: 0 0 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 1rem;
}

.portfolio-card {

    &__thumb-image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &--crop {
        width: 32rem;
        height: 26rem;
        overflow: hidden;
      }
    }

    &__title {
    margin: 1.6rem 0 0 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    }

    &__subtitle {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    }

    &__body {
    margin: 1rem 0 0 0;
    }

    &__date {
    margin: 0rem 0 .8rem 0;
    font-size: 1.2rem;
    opacity: .7;
    }

    @include card-button;

    &__add-new {
      opacity: 0.4;
      width: 32rem;
      height: 26rem;
    }

    &__link {
      margin-right: 1rem;
      opacity: 0.8;
    }

    &__link + &__link {
      margin-left: 1rem;
    }
}
