.portfolios-container {
  margin: 0 0 3rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 1rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.portfolio-card {
  display: grid;
  box-shadow: 1px 1px 6px $black-10;
  grid-template-rows: 27rem 2.2rem 2rem;
  padding: 1rem;

  &__thumb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--crop {
      height: 26rem;
      overflow: hidden;
    }
  }

  &__date {
    font-size: 1.2rem;
    opacity: .7;
  }

  /* FEATURE PORTFOLIO ITEMS (disabled for mobile) */

  &:nth-of-type(4) {
    grid-column: 1 / 3;
  }

  &:nth-of-type(9) {
    grid-column: 1 / 4;
  }

  @include respond(tab-land) {
    &:nth-of-type(4) {
      grid-column: auto;
    }

    &:nth-of-type(9) {
      grid-column: auto;
    }
  }

  @include card-button;

    &__add-new {
      opacity: 0.4;
    }
}
