<div class="portfolio-card" data-id="<%= portfolio_item.id %>">
  <div class="portfolio-card__thumb-image--crop">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'),
        class: "portfolio-card__thumb-image" %>
  </div>

  <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item),
                                    class: 'portfolio-card__title' %>
  <p class="portfolio-card__date"><%= portfolio_item.created_at.strftime("%Y") %></p>
</div>
