<div class="form form--full-width">
  <div class="form__section">
    <h1 class="form__title">Edit this portfolio.</h1>
    <%= render 'form', portfolio_item: @portfolio_item %>

    <div class="form__link-group">
      <%= link_to 'View portfolio', @portfolio_item, class: 'form__link' %>
      <%= link_to "Delete portfolio", portfolio_path(@portfolio_item),
            method: :delete, data: { confirm: "Are you sure?" },
            class: "form__link" %>
      <%= link_to 'Back to portfolios', portfolios_path, class: 'form__link' %>
    </div>
  </div>
</div>

