<div class="portfolio-grid">
<%= render partial: 'portfolio_item', collection: @portfolio_items %>

<div class="portfolio-grid-item">
  <div class="portfolio-item-new">
    <%= link_to "Create portfolio", new_portfolio_path if logged_in?(:site_admin)  %>
  </div>
</div>

</div>


