@import url('https://fonts.googleapis.com/css?family=lato:200,400,700|Times+New+Roman:200,400,400i,700');

@mixin sans-serif-font {
  font-family: 'Lato', sans-serif;
}

@mixin serif-font {
  font-family: 'Times New Roman', serif;
}

body {
  font-size: 1.6rem;
  line-height: 150%;
}


h1 {
  font-size: 3.6rem;
  line-height: 120%;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
  opacity: 0.8;
}

h6 {
  font-size: 1.6rem;
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include serif-font;
}
