<header class="header">
  <div class="header__nav header__nav--tall">
    <ul class="header__list">
        <%= nav_helper 'header__link', 'li', 'header__item' %>
        <%= login_helper 'header__link' %>
    </ul>
  </div>
</header>
