<header class="header">
  <input type="checkbox" class="application-nav__button" id="application-nav__button">
  <div class="application-nav">
    <ul class="application-nav__list">
        <%= nav_helper 'application-nav__link', 'li', 'application-nav__item' %>
        <%= login_helper 'application-nav__link' %>
    </ul>
  </div>
</header>
