<header class="header header--application">
  <button class="header__button" id="dropdown-menu"></button>
  <div class="application-nav">
    <ul class="application-nav__list">
        <%= nav_helper 'header__link', 'li', 'header__item' %>
        <%= login_helper 'header__link' %>
    </ul>
  </div>
</header>
