<nav class="header">
  <button class="header__button" id="dropdown-menu"></button>

  <div class="header__brand-group">
    <%= link_to image_tag ('logo-dark.png'), class: 'header__logo' %>
  </div>

  <div class="header__nav">
    <ul class="header__list">
        <h6 class="header__title">Navigation</h6>
        <%= nav_helper 'header__link', 'li', 'header__item' %>
        <%= login_helper 'header__link' %>
    </ul>
  </div>

</nav>



