<nav class="sidebar sidebar--blog">

  <h1 class="sidebar__brand">Alexander McLongname</h1>
  <p class="sidebar__description">Welcome to my blog.</p>

  <div class="sidebar__nav--container">
    <div class="sidebar__nav">
      <p class="sidebar__title">View by topic</p>
      <ul class="sidebar__list">

        <% @sidebar_topics.each do |topic| %>
          <li><%= link_to topic.title, topic_path(topic),
                  class: "sidebar__link
                          sidebar__link#{active?(topic_url(topic))}" %></li>
        <% end %>

        <li><%= link_to 'View all posts', blogs_path,
                class: "sidebar__link
                        sidebar__link#{active?(blogs_path)}" %></li>

      </ul>
    </div>
    <%= render 'shared/sidebar_icons' %>
  </div>

  <%= source_helper "sidebar__link--active", "sidebar__nav" %>

</nav>
