<nav class="sidebar sidebar--fixed">

  <h1 class="sidebar__brand">Devcamp Portfolio</h1>
  <p  class="sidebar__description">Welcome to my portfolio.</p>

  <div    class="sidebar__nav">
    <p    class="sidebar__title">Skills</p>
      <ul class="sidebar__list">
        <li><a class="sidebar__link" href="#">Angular</a></li>
        <li><a class="sidebar__link" href="#">Ruby on Rails</a></li>
        <li><a class="sidebar__link
                      sidebar__link--active" href="#">React JS</a></li>
        <li><a class="sidebar__link" href="#">HTML & CSS</a></li>
      </ul>
  </div>

  <div  class="sidebar__nav">
    <ul class="sidebar__list">
      <%= nav_helper   'sidebar__link', 'li', 'sidebar__item' %>
      <%= login_helper 'sidebar__link' %>
    </ul>
  </div>

  <%= render 'shared/sidebar_icons' %>

  <div class="sidebar__nav">
      <%= source_helper("portfolio") %>
  </div>

</nav>
