<h1>About the app</h1>
<p>Devcamp portfolio is a sample portfolio application that includes a blog, a portfolio and an application page layout. Site administrators can sign in and build their own drag and drop portfolio, keep a blog and have a beautiful landing page to welcome their website visitors.</p>
<%= link_to "Sign up to get started.", new_user_registration_path, class: "button btn-transparent" %>
