<div class="entry">
  <div class="contact-container">

    <div class="contact">
      <h1 class="contact__title">Want to know more?</h1>
      <p class="contact__subtitle">Feel free to get in touch, I'd be happy to hear from you.</p>
      <p><%= number_to_phone "5555555555" %></p>
      <a href="mailto:contact@example.com?subject=PortfolioContact">or email me.</a>
    </div>

  </div>
</div>
