<div class="home">
  <%= image_tag ('white-tree.png'), class: 'logo--large home__logo' %>
  <h1 class="home__title">
    <span class="home__typed-title"></span>
  </h1>
  <%= link_to "Learn more", about_me_path, class: "button button--short" %>
</div>
