<div class="entry">
  <%= image_tag ('logo-light.png'), class: 'logo--large entry__logo' %>
  <h1 class="entry__title">Devcamp Portfolio</h1>
  <%= link_to "Learn more", about_me_path, class: "button btn-transparent" %>
</div>
