<div class="entry">
  <%= image_tag ('white-tree.png'), class: 'logo--large entry__logo' %>
  <h1 class="entry__title">Devcamp Portfolio</h1>
  <%= link_to "Learn more", about_me_path,
      class: "button
              button--short" %>
</div>
