
@mixin horizontal-align-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@mixin center-align-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
