.header {
  @include secondary-font;
  position: fixed;
  width: 100%;
  z-index: 23;

  @include respond(tab-port) {
    background-color: #2c2c2c;
  }
}

.application-nav {
  display: block;
  max-width: 60rem;
  padding: 4rem 4rem 4rem;
  margin: auto;

  @include respond(tab-port) {
    display: none;
    padding: 3rem 4rem 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__item,
  &__link {
    display: inline-block;
    margin: .2rem;
    @include hover-underline;
  }

  &__button {
    display: none;

    @include respond(tab-port) {
      display: block;
      visibility: hidden;
      padding: 1rem;
      background-color: transparent;
      position: absolute;
      top: 3rem;
      right: 6rem;

      &::after {
        visibility: visible;
        content: '\2807';
        font-size: 3rem;
        font-weight: 100;
        color: white;
        padding: 1rem;
      }

    }
  }
}



