.sidebar {
  min-width: 22rem;
  background-color: white;
  padding: 6rem 4rem 0;

  &--fixed {
    position: fixed;
    height: 100vh;
  }

  &--sticky {
    position: sticky;
    top: 23.5rem;
    height: 800px;
  }

  &__brand {
    @include center-align;
  }

  &__brand-image {
    margin: 0 auto 1rem;
    display: block;
  }

  &__description {
    @include center-align;
    margin: 2rem 0 0 0;
  }

  &__nav {

    &:first-of-type {
      margin: 6rem 0 0 0;
    }

    + .sidebar__nav {
      margin: 4rem 0 0 0;
    }

  }

  &__title {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;
    opacity: .6;
    margin: 0 0 2rem 0;
  }


  &__link {
    display: block;
    color: $black-60;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0 0 1rem 0;

    &--active {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color;
    }
  }
}
