.sidebar {
  background-color: white;
  padding: 4rem 0 0;

  @include respond(tab-land) {
    padding: 4rem 4rem 2rem;
    text-align: center;
  }

  &--fixed {
    position: fixed;

    @include respond(tab-land) {
      display: none;
    }
  }

  &--blog {
    padding: 4rem 4rem 2rem;
    border-radius: 3px;
  }

  &__brand {
    @include center-align;
  }

  &__brand-image {
    margin: 0 auto 1rem;
    display: block;
  }

  &__description {
    @include center-align;
    margin: 1rem 0 0 0;

    @include respond(tab-land) {
      max-width: 450px;
      margin: 1rem auto 0;
    }
  }

  &__nav {

    &:first-of-type {
      margin-top: 6rem;
    }

    + .sidebar__nav {
      margin-top: 4rem;
    }

    @include respond(tab-land) {
      display: inline-block;
      vertical-align: text-top;
      margin: 0 auto;
    }

  }

  &__nav--container {

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }

  &__title {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;
    opacity: .6;
    margin: 0 0 2rem 0;
  }

  &__list {
    list-style: none;
    font-size: 1.4rem;

    @include respond(tab-land) {
      display: flex;
      justify-content: space-around;
      width: 23rem;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    margin: 0 0 1rem 0;

    @include respond(tab-land) {
      display: inline-block;
    }
  }

  &__link {
    display: block;
    color: $black-60;
    margin: 0 0 1rem 0;

    @include respond(tab-land) {
      display: inline-block;
    }

    &--active {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color;
    }
  }

    &__icon-group {
      width: 12rem;
      display: grid;
      grid-template-columns: repeat(3, 3.5rem);
      grid-template-rows: repeat(3, 3rem);

      @include respond(tab-land) {
        justify-content: center;
      }
  }

  &__icon {
    opacity: 0.6;
    font-size: 1.6rem;
  }
}
