
/* Include mixin and append modifier to html element */

@mixin center-align {
  &--center {
    text-align: center;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* Hover underline effect for links,
   includes styling for '--active' class modifier */

@mixin hover-underline {
  &:after {
    content: "";
    display: block;
    opacity: 0;
    border-bottom: 1px solid;
    transition: opacity 350ms ease-in;
  }

  &:hover::after {
    opacity: 1;
  }

  &--active::after {
    opacity: 1;
  }
}

