
@mixin light-theme {
  color: $white-80;
  a {
    &:hover {
      color: $white-90;
    }
    &--active {
      color: $white-90;
    }
    color: $white-80;
  }
}


@mixin dark-theme {
  color: $black-70;
  a {
    color: $black-60;
  }
}
