.button {
  @include secondary-font;
  border: 1px solid;
  padding: 1.1rem 3.2rem .6rem;
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  &:hover {
    box-shadow: 1px 1px 1px $black-20;
    opacity: .7;
    &:hover {
      opacity: 1;
      transition: all .2s ease-in-out;
    }
  }

  &--fullwidth {
    width: 100%;
  }

  &--short {
    display: inline-block;
  }
}


@mixin card-button {

  &__add-new {
    align-items: center;
    border: 1px dashed;
    box-shadow: 2px 3px 10px $black-10;
    display: flex;
    justify-content: center;
  }

  &__button {
    @include secondary-font;
    font-size: 2.5rem;
    font-weight: 300;
    &:before {
      border-radius: 50%;
      border: 1px solid;
      content: "+";
      display: block;
      font-size: 5rem;
      font-weight: 200;
      height: 50px;
      margin: 2rem auto;
      text-align: center;
      width: 50px;
    }
  }

}
