.form {
  @include secondary-font;
  @include dark-theme;
  background-color: white;
  text-align: left;
  font-size: 1.4rem;

  &__section {
    padding: 4rem 6rem 4rem;
    max-width: 77rem;
    width: 77rem;
    font-size: 1.6rem;
    margin: 0 auto;
  }

  &__card {
    width: 45rem;
    border-radius: 3px;
    box-shadow: 0px 5px 10px $black-50;
    padding: 5rem 6rem 4rem;
  }

  &__title {
    text-align: center;
    font-size: 2.6rem;
    line-height: 3rem;
    margin: 0 0 4rem 0;
  }

  &__group-title {
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 1rem 0;
  }

  &__group {
    margin: 0 0 3rem 0;
  }

  &__label {
    display: block;

    &--inline {
      display: inline;
    }
  }

  &__input + &__label {
    padding-top: 2rem;
    margin-bottom: -2px;
  }

  &__caption {
    font-style: italic;
  }

  &__input {
    display: block;
    width: 100%;
    margin: .8rem 0 0 0;
    padding: .5rem .5rem;
    line-height: 1.5em;
    border-bottom: 1px solid $black-40;
    background-color: $black-03;

    &--inline {
      display: inline-block;
      width: auto;
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
      border-color: $black-70;
    }

    &--short {
      width: 28rem;
      padding: 0 .5rem;
      margin: 3rem 0 0 0;
    }
  }

  &__file-select {
    margin-top: 1rem;
  }

  &__radio-group {
    display: inline-block;
    margin: 3rem 0 0 0;
  }

  &__radio-input {
    visibility: hidden;
    opacity: .7;

    &:active,
    &:focus,
    &:hover,
    &:checked {
      opacity: .9;
    }

    &:after {
      content: '○';
      font-size: 1.4rem;
      line-height: 1rem;
      padding: 0 4rem 0 0;
      opacity: .8;
      visibility: visible;
    }

    &:checked::after {
      content: '◉';
    }

  }

  &__radio-label {
    margin: 0 0 0 .4rem;
  }

  &__submit-button {
    margin: 5rem auto 4rem;
  }

  &__link-group {
    width: 100%;
    text-align: center;
  }

  &__link {
    line-height: 1.9rem;
    color: inherit;
    magin: 0 0 .5rem 0;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link + &__link {
      margin: 0 0 0 3rem;
  }

  &__file-button {
    margin-top: 4rem;
    opacity: 0.8;
    text-align: center;
    display: block;
    margin: 2rem auto;
    width: 300px;
  }

}
