
.skills {
  width: 100%;
  max-width: 45rem;
  border-radius: 3px;
  color: $white-80;
}

.skill {
  padding: 2rem 4rem 0;

  &__title {
  text-align: left;
  margin-bottom: .2rem;
  }

  &__progress-bar {
    width: 100%;
    background-color: $white-20;
    border-radius: 3px;
  }

  &__progress-fill {
    display: block;
    background-color: $brand-color;
    height: 1.5rem;
    border-radius: 3px;
  }

}


