@import 'base/reset';
@import 'variables/*';
@import 'modifiers/*';
@import 'objects/*';
@import 'layout/fixed-header';
@import 'layout/footer';
@import 'layout/application-entry';

/* See 'stylesheets/base/readme file for an overview of application layout components. */

html {
@include primary-font;
@include light-theme;
}

.container {
  text-align: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient($black-60, $black-70),
                url(mountains.jpeg);
  background-position: top;
  background-size: cover;
}

