@import "gritter";
@import "font-awesome";
@import 'abstracts/*';
@import 'base/*';
@import 'components/*';
@import 'layout/footer';
@import 'layout/blog-header';
@import 'layout/sidebar';
@import 'pages/blogs-index';
@import 'pages/blog-show';

html {
  @include sans-serif-font;
  @include dark-theme;
}

.container {
  width: 100%;
  border-top: 1rem solid $brand-color-hover;
}

.main {
  @include brand-accent-color;
  padding: 0 2rem;
}

.main__inner {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 44.8rem) 22rem 22rem 1fr;

  @include respond(tab-land) {
    grid-template-columns: 1fr minmax(auto, 44.8rem) 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr minmax(auto, 44.8rem) 1fr;
  }
}

.sidebar {
  margin-top: 4rem;
  grid-column: 4 / span 1;

  @include respond(tab-land) {
    grid-column: 2 / span 1;
    text-align: center;
  }
}

