@import "gritter";
@import "font-awesome";
@import 'base/*';
@import 'abstracts/*';
@import 'components/*';
@import 'layout/*';
@import 'pages/blogs-index';
@import 'pages/blog-show';

html {
  @include primary-font;
  @include dark-theme;
}

.container {
  width: 100%;
  background: linear-gradient($white-10, $white-20),
                url(mountains.jpeg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding: 12rem 0 4rem 0;
  display: grid;
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  grid-template-columns: 1fr 28rem;
  justify-content: space-around;

  @include respond(tab-land) {
    grid-template-columns: auto;
    grid-template-rows: auto-fill;
  }
}

.footer {
  color: white;
  opacity: 1;
}
