@import "gritter";
@import "font-awesome";
@import 'abstracts/*';
@import 'base/*';
@import 'components/*';
@import 'layout/footer';
@import 'layout/blog-header';
@import 'layout/sidebar';
@import 'pages/blogs-index';
@import 'pages/blog-show';

html {
  @include primary-font;
  @include dark-theme;
}

.container {
  width: 100%;
  border-top: 1rem solid $brand-color;
}

.main {
  display: grid;
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  grid-template-columns: 1fr 28rem;
  grid-gap: 3rem;

  @include respond(tab-port) {
    grid-template-columns: auto;
    grid-template-rows: auto-fill;
    padding: 3rem 0 4rem 0;
    width: 90vw;
  }
}
