@import "gritter";
@import 'jquery-ui';
@import 'font-awesome';
@import 'base/*';
@import 'abstracts/*';
@import 'components/*';
@import 'layout/*';
@import 'pages/portfolios-index';
@import 'pages/portfolio-show';

html {
@include primary-font;
@include dark-theme;
}

.container {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  grid-template-columns: 22rem auto-fill;

  @include respond(tab-land) {
    width: 100%;
    column-count: 1;
    grid-template-columns: 1fr;
  }
}

.main {
  margin: 4rem 0 0 22rem;

  @include respond(tab-land) {
    width: 90vw;
    margin: 4rem auto 0 auto;
  }
}

.header {
  display: none;

  @include respond(tab-land) {
    display: block;
  }
}


