@import "gritter";
@import 'jquery-ui';
@import 'font-awesome';
@import 'abstracts/*';
@import 'base/*';
@import 'components/*';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'pages/portfolios-index';
@import 'pages/portfolio-show';

html {
@include sans-serif-font;
@include dark-theme;
}

.container {
  display: grid;
  grid-template-columns: 1fr 22rem minmax(auto, 98rem) 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  margin-top: 4rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr minmax(auto, 90vw) 1fr;
  }
}

.main {
  @include brand-accent-color;
  grid-column: 3 / span 1;

  @include respond(tab-land) {
    grid-column: 2 / span 1;
  }
}

.header {
  display: none;

  @include respond(tab-land) {
    display: block;
  }
}

.sidebar {
  grid-column: 2 / span 1;
  position: sticky;
  top: 4rem;
  height: 100vh;

  @include respond(tab-land) {
    display: none;
  }
}





